body {
  font-family: "Courier New";
  /*font-family: "IBM Plex Mono", monospace;
  */
  color: white;
  background-color: #1a1919;
  background-color: rgb(57, 63, 68);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr 12fr;
  margin: 0px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: -10px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: bold;

  background-color: rgb(40, 44, 48);
}

.header div.button {
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.header div.button:hover {
  color: #333;
  background-color: white;
  cursor: pointer;
}


.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.header div {
  text-align: center;
}

.photo img {
  height: 200px;
  width: auto;
  border-radius: 200px;
  border: 5px solid rgb(150, 164, 177);
  outline: none;
}

.presentation-container {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.presentation {
  display: flex;
  gap: clamp(20px, 80px, 80px);
  margin-top: -6em;
}

.name {
  font-weight: bold;
  font-size: 5em;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.tech-container {
  background-color: rgb(39, 45, 51);
  display: flex;
  justify-content: center;
}

.languages {
  display: flex;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.languages img {
  height: 50px;
  width: auto;
}

.selected {
  display: inline-block;
  border-bottom: 2px solid white;
}


.about-me {
  font-size: 3em;
  font-weight: bold;
  text-align: left;
}

.about-me-container {
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tech-stack {
  font-size: 2em;
  font-weight: bold;
  margin-top: 50px;
}

.cv {
  /*background-color: rgb(40, 44, 48);
  */
  font-size: 1.5em;
  color: white;
  padding: 10px;
  font-weight: bold;
  margin-top: 60px;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.cv:hover {
  background-color: white;
  color: #333;
  cursor: pointer;
}